// Colors - https://webstyle.unicomm.fsu.edu/colors/
$garnet: #782f40;
$garnet-1-black: #5f2835;
$garnet-2-black: #47222a;
$garnet-3-black: #2f1c1f;

$gold: #ceb888;
$gold-1-canvas: #dacaa6;
$gold-2-canvas: #e7dcc4;
$gold-3-canvas: #f3ede1;

$canvas: #fdfcfc;
$white: #f4f4f4;
$neutral: #969594;
$neutral-1-white: #b5b5b4;
$neutral-2-white: #d5d4d4;
$neutral-1-dark: #767474;
$neutral-2-dark: #565554;
$slate: #2c2a29;
$black: #161514;