// BS-Default
.bg-ce-white {
	background-color: #f1f1f1;
}
// Garnet
.bg-garnet {
	background-color: $garnet;	
}

.bg-garnet-1-black {
	background-color: $garnet-1-black;	
}

.bg-garnet-2-black {
	background-color: $garnet-2-black;	
}

.bg-garnet-3-black {
	background-color: $garnet-3-black;	
}

// Gold
.bg-gold {
	background-color: $gold;	
}
.bg-gold-1-canvas {
	background-color: $gold-1-canvas;	
}

.bg-gold-2-canvas {
	background-color: $gold-2-canvas;	
}

.bg-gold-3-canvas {
	background-color: $gold-3-canvas;	
}

// Neutrals
.bg-canvas {
	background-color: $canvas;	
}

.bg-white {
	background-color: $white;	
}

.bg-neutral-2-white {
	background-color: $neutral-2-white;	
}

.bg-neutral-1-white {
	background-color: $neutral-1-white;	
}

.bg-neutral {
	background-color: $neutral;	
}

.bg-neutral-1-dark {
	background-color: $neutral-1-dark;	
}

.bg-neutral-1-dark {
	background-color: $neutral-1-dark;	
}

.bg-slate {
	background-color: $slate;	
}

.bg-black {
	background-color: $black;	
}