
// Garnet
.text-garnet {
	color: $garnet;	
}

.text-garnet-important {
	color: $garnet !important;	
}

.text-garnet-1-black {
	color: $garnet-1-black;	
}

.text-garnet-2-black {
	color: $garnet-2-black;	
}

.text-garnet-3-black {
	color: $garnet-3-black;	
}

// Gold
.text-gold {
	color: $gold;	
}
.text-gold-1-canvas {
	color: $gold-1-canvas;	
}

.text-gold-2-canvas {
	color: $gold-2-canvas;	
}

.text-gold-3-canvas {
	color: $gold-3-canvas;	
}

// Neutrals
.text-canvas {
	color: $canvas;	
}

.text-white {
	color: $white;	
}

.text-neutral-2-white {
	color: $neutral-2-white;	
}

.text-neutral-1-white {
	color: $neutral-1-white;	
}

.text-neutral {
	color: $neutral;	
}

.text-neutral-1-dark {
	color: $neutral-1-dark;	
}

.text-neutral-1-dark {
	color: $neutral-1-dark;	
}

.text-slate {
	color: $slate;	
}

.text-black {
	color: $black;	
}